.DS_Store
.vscode
keras_tensorflow_guide.txt
sklearn_scipy_sympy_stat_guide.txt
python_manual.txt
catalog_opencv_methods.txt
Catalog_CV_Functions.md
open_cv_python_manual.txt
CV_Udacity
DL_Udacity
DL_PyTorch
deep-learning-v2-pytorch
machine_learning_coursera
computer_vision_udacity
bike_sharing_udacity
jetson_nano_howto.txt
raspberry_pi_howto.txt
