.DS_Store
.vscode
keras_tensorflow_guide.txt
sklearn_scipy_sympy_stat_guide.txt
python_manual.txt
catalog_opencv_methods.txt
open_cv_python_manual.txt
CV_Udacity
DL_Udacity
DL_PyTorch
deep-learning-v2-pytorch
